@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color-scheme: dark;
    background-color: #101010;
}

.loading {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;

    animation-name: insertion;
    animation-timing-function: ease-in-out;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes insertion {
    0% {
        transform: rotate(0deg);
    }

    60%,
    100% {
        transform: rotate(360deg);
    }
}